<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>haha</title>
</head>

<body>
	<div id="app">

		<el-row :gutter="0">
			<el-col :span="4">
				<!-- 插入框 -->
				<el-form ref="form" :model="form" label-width="40px">
					<el-form-item label="书号">
						<el-input v-model="form.bookId"></el-input>
					</el-form-item>
					<el-form-item label="书名">
						<el-input v-model="form.bookName"></el-input>
					</el-form-item>
					<el-form-item label="作者">
						<el-input v-model="form.bookAuthor"></el-input>
					</el-form-item>
					<el-form-item label="余量">
						<el-input v-model="form.bookLeftNum"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="createItem">插入</el-button>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="updateItem">由书号更新</el-button>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="searchItem">由书号查找</el-button>
					</el-form-item>
					<el-form-item>
						<el-button type="danger" @click="deleteItem">由书号删除</el-button>
					</el-form-item>
				</el-form>
				<el-button type="danger" @click="showTables">显示表格</el-button>

			</el-col>
			<el-col :span="20">
				<div style="height:100vh;" id="display"></div>
			</el-col>
		</el-row>
	</div>
</body>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="./static/jquery-3.2.1.min.js"></script>
<script src="./static/echarts.min.js"></script>
<link href="./static/bootstrap-grid.min.css" rel="stylesheet">
<link href="./static/bootstrap-grid.min.css" rel="stylesheet">
<link href="./static/bootstrap.min.css" rel="stylesheet">
<script src="./static/bootstrap.min.js"></script>
<script src="./static/bootstrap.bundle.min.js"></script>

<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script>
	var optionTemplate = {
		"series": [{

			"type": "tree",
			"data": [
				{
					"name": "root",
					"children": [
						{
							"name": "黑龙江",
							"children": [
								{
									"name": "哈尔滨",
									"value": 1200
								}, {
									"name": "大庆",
									"value": 1500
								}
							]
						}, {
							"name": "广东",
							"children": [{
								"name": "广州"
							}, {
								"name": "深圳",
								"value": 3600
							}, {
								"name": "珠海",
								"value": 2700
							}]
						}, {
							"name": "台湾",
							"children": [{
								"name": "台北",
								"value": 800
							}, {
								"name": "高雄",
								"value": 600
							}]
						}, {
							"name": "新疆",
							"children": [{
								"name": "乌鲁木齐",
								"value": 300
							}]
						}
					]
				}
			],
			"top": "20%",
			"left": "7%",
			"bottom": "20%",
			"right": "20%",
			"symbolSize": [60, 40],

			itemStyle: {
				color: "white"
			},

			"expandAndCollapse": false,
			"animationDuration": 550,
			"animationDurationUpdate": 750,
			"orient": "vertical",
			"symbol": "Rect"



		}]
	};

	new Vue({
		el: '#app',
		data() {
			return {
				form: {
					bookId: '',
					bookName: '',
					bookLeftNum: '',
					bookAuthor: '',
				}
			}
		},
		methods: {
			onSubmit() {
				console.log('submit!');
				var temp_data = 0;
				this.updateEchart();
			},
			updateItem() {

			},
			searchItem() {

			},
			deleteItem() {

			},
			showTables() {
				axios.post(
					'http://localhost:7998/showTables'
				).then(function (res) {
					console.log(res);
				}).catch(function (error) { // 请求失败处理
					console.log(error);
				});
			},
			createItem() {
				//发送 post 请求
				var _form = JSON.stringify(this.form);
				console.log(_form);
				_this = this;
				axios.post(
					'http://localhost:7998/createItem',
					_form
				).then(function (res) {
					console.log(res);
					_this.updateEchart();
				}).catch(function (error) { // 请求失败处理
					console.log(error);
				});
			},
			updateEchart() {
				axios.post(
					'http://localhost:7998/getBTree'
				).then(function (res) {
					console.log(res);
					var option = optionTemplate;
					option.series[0].data[0] = res.data;
					myChart.setOption(option);
				}).catch(function (error) { // 请求失败处理
					console.log(error);
				});

			}
		}
	})




	var myChart = echarts.init(document.getElementById("display"));
	myChart.setOption(optionTemplate);

</script>

</html>